<!DOCTYPE html>
<html>
<head>
  <title>Veganizze</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="Veganizze" ng-controller="ApplicationCtrl">
  <div ui-view><%= yield %></div>

</body>
</html>
